/* 
    Document   : style
    Created on : Jan 7, 2012, 12:57:07 PM
    Author     : gofrendi
    Description:
        Purpose of the stylesheet follows.
*/
.not_shown{
	display: none;
}

.clear{
	clear: both;
}

.layout_widget_container input, .layout_widget_container textarea {
    max-width: 100%;
}

#__section-content{
    overflow: auto;
    overflow-y:hidden;
}

body { 
	padding-bottom:40px;
	padding-right:0px;
	padding-left:0px;
}

footer{
	padding: 10px;
}


/* grocery-CRUD flexigrid */
.pGroup select#per_page
{
    max-width: 54px;
}
.pGroup .pcontrol input
{
    max-width: 59px;
}
.form-input-box>input, .form-input-box>textarea,
.form-input-box>div.chzn-container, .form-input-box div.chzn-drop{
    width: 400px!important;
}
.form-input-box>div.ui-multiselect{
	max-width: 440px;
	border: 1px solid gray;
}
.form-input-box>div.ui-multiselect>div.selected{
    max-width: 213px;
}
.form-input-box>div.ui-multiselect>div.available{
    max-width: 225px;
}
.pGroup .btnseparator
{
    float: left;
    margin: 2px;	
}

/* end of grocery-CRUD flexigrid */
/* Landscape phones and down */
@media (max-width: 480px){    
    body {
        padding-top: 0px;
    }
    .form-input-box>input, .form-input-box>textarea,
    .form-input-box>div.chzn-container, .form-input-box div.chzn-drop{
        width: 250px!important;
        float: left!important;
    }
    .form-display-as-box{
       width: 100%!important;
    }
    
    .flexigrid table td,
    .flexigrid table th{
        display: none!important;
    }
    .flexigrid table td:first-child,
    .flexigrid table th:first-child,
    .flexigrid table td:last-child,
    .flexigrid table th:last-child
    {
        display: table-cell!important;
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 768px)  {  
    body {
        padding-top: 0px;
    }  
    .form-input-box>input, .form-input-box>textarea,
    .form-input-box>div.chzn-container, .form-input-box div.chzn-drop{
        width: 300px!important;
        float: left!important;
    }
    .form-display-as-box{
       width: 100%!important;
    }
    
    .flexigrid table td,
    .flexigrid table th{
        display: none!important;
    }
    .flexigrid table td:first-child,
    .flexigrid table th:first-child,
    .flexigrid table td:last-child,
    .flexigrid table th:last-child,
    .flexigrid table td:nth-child(2),
    .flexigrid table th:nth-child(2)
    {
        display: table-cell!important;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 769px)  and (max-width: 978px) {
    body {
        padding-top: 0px;
    }
    .flexigrid table td,
    .flexigrid table th{
        display: none!important;
    }
    .flexigrid table td:first-child,
    .flexigrid table th:first-child,
    .flexigrid table td:last-child,
    .flexigrid table th:last-child,
    .flexigrid table td:nth-child(2),
    .flexigrid table th:nth-child(2),
    .flexigrid table td:nth-child(3),
    .flexigrid table th:nth-child(3),
    .flexigrid table td:nth-child(4),
    .flexigrid table th:nth-child(4)
    {
        display: table-cell!important;
    }
}

/* normal desktop */
@media (min-width: 979px) and (max-width: 1199px)  {
    body {
        padding-top: 60px;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    body {
        padding-top: 60px;
    }
}
