/* 
    Document   : style
    Created on : Jan 7, 2012, 12:57:07 PM
    Author     : gofrendi
    Description:
        Purpose of the stylesheet follows.
*/
.navbar-fixed-top .nav > .active > a > [class^="icon-"],
.navbar-fixed-top .nav > .active > a > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png")!important;
}
.navbar-fixed-top {
  color: #EEEEEE;
}
.navbar .nav li.dropdown>a:hover .caret, .navbar .nav li.dropdown>a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
.navbar-fixed-top .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  border-color: #252525;
}
.navbar-fixed-top .brand,
.navbar-fixed-top .nav > li > a {
  color: #EEEEEE;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-fixed-top .brand:hover,
.navbar-fixed-top .nav > li > a:hover {
  color: #ffffff;
}
.navbar-fixed-top .nav > li > a:focus,
.navbar-fixed-top .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
}
.navbar-fixed-top .nav .active > a,
.navbar-fixed-top .nav .active > a:hover,
.navbar-fixed-top .nav .active > a:focus {
  color: #ffffff;
  background-color: #111111;
}
.navbar-fixed-top .navbar-link {
  color: #EEEEEE;
}
.navbar-fixed-top .navbar-link:hover {
  color: #ffffff;
}
.navbar-fixed-top .divider-vertical {
  border-left-color: #111111;
  border-right-color: #222222;
}
.navbar-fixed-top .nav li.dropdown.open > .dropdown-toggle,
.navbar-fixed-top .nav li.dropdown.active > .dropdown-toggle,
.navbar-fixed-top .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #111111;
  color: #ffffff;
}
.navbar-fixed-top .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #EEEEEE;
  border-bottom-color: #EEEEEE;
}
.navbar-fixed-top .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-fixed-top .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-fixed-top .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-fixed-top .navbar-search .search-query {
  color: #ffffff;
  background-color: #515151;
  border-color: #111111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.navbar-fixed-top .navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}
.navbar-fixed-top .navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}
.navbar-fixed-top .navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}
.navbar-fixed-top .navbar-search .search-query:focus,
.navbar-fixed-top .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}
.navbar-fixed-top .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e0e0e;
  background-image: -moz-linear-gradient(top, #151515, #040404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#040404));
  background-image: -webkit-linear-gradient(top, #151515, #040404);
  background-image: -o-linear-gradient(top, #151515, #040404);
  background-image: linear-gradient(to bottom, #151515, #040404);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
  border-color: #040404 #040404 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #040404;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-fixed-top .btn-navbar:hover,
.navbar-fixed-top .btn-navbar:active,
.navbar-fixed-top .btn-navbar.active,
.navbar-fixed-top .btn-navbar.disabled,
.navbar-fixed-top .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #040404;
  *background-color: #000000;
}
.navbar-fixed-top .btn-navbar:active,
.navbar-fixed-top .btn-navbar.active {
  background-color: #000000 \9;
}
/*
.navbar-fixed-top .nav-collapse .nav > li > a,
.navbar-fixed-top .nav-collapse .dropdown-menu a {
  color: #999999;
}
*/
.navbar-fixed-top .nav-collapse .nav > li > a:hover,
.navbar-fixed-top .nav-collapse .dropdown-menu a:hover {
  background-color: #111111;
}
.navbar-fixed-top .nav-collapse .navbar-form,
.navbar-fixed-top .nav-collapse .navbar-search {
  border-top-color: #111111;
  border-bottom-color: #111111;
}
/* start */
.navbar-inner{
    min-height:45px;
}

.not_shown{
    display: none;
}

.clear{
    clear: both;
}

.layout_widget_container input, .layout_widget_container textarea {
    max-width: 100%;
}

body {
    padding-bottom:40px;
    padding-right:0px;
    padding-left:0px;
}

footer{
    padding: 10px;
}

#__section-banner>div{
    /* IE10 */ 
    background-image: -ms-linear-gradient(top left, white 0%, gray 100%);
    
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, white 0%, gray 100%);
    
    /* Opera */ 
    background-image: -o-linear-gradient(top left, white 0%, gray 100%);
    
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, white), color-stop(1, gray));
    
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, white 0%, gray 100%);
    
    /* Proposed W3C Markup */ 
    background-image: linear-gradient(top left, white 0%, gray 100%);
}

#__section-left-and-content{
    padding:5px;
    margin-left:0px;
    
    /* IE10 */ 
    background-image: -ms-linear-gradient(top left, white 0%, #EEEEEE 100%);
    
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top left, white 0%, #EEEEEE 100%);
    
    /* Opera */ 
    background-image: -o-linear-gradient(top left, white 0%, #EEEEEE 100%);
    
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, white), color-stop(1, #EEEEEE));
    
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top left, white 0%, #EEEEEE 100%);
    
    /* Proposed W3C Markup */ 
    background-image: linear-gradient(top left, white 0%, #EEEEEE 100%);
}

/* grocery-CRUD flexigrid */
.pGroup select#per_page
{
    max-width: 54px;
}
.chzn-results{
    max-height:70px!important;
}
/* end of grocery-CRUD flexigrid */


/* Landscape phones and down */
@media (max-width: 480px){    
    body {
        padding-top: 0px;
    }
    .form-input-box>input, .form-input-box>textarea,
    .form-input-box>div.chzn-container, .form-input-box div.chzn-drop{
        width: 250px!important;
        float: left!important;
    }
    .form-display-as-box{
       width: 100%!important;
    }
    
    .flexigrid table td,
    .flexigrid table th{
        display: none!important;
    }
    .flexigrid table td:first-child,
    .flexigrid table th:first-child,
    .flexigrid table td:last-child,
    .flexigrid table th:last-child
    {
        display: table-cell!important;
    }
    .navbar-fixed-top a > [class^="icon-"],
    .navbar-fixed-top a > [class*=" icon-"] {
      background-image: url("../img/glyphicons-halflings-white.png")!important;
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 768px)  {  
    body {
        padding-top: 0px;
    }  
    .form-input-box>input, .form-input-box>textarea,
    .form-input-box>div.chzn-container, .form-input-box div.chzn-drop{
        width: 300px!important;
        float: left!important;
    }
    .form-display-as-box{
       width: 100%!important;
    }
    
    .flexigrid table td,
    .flexigrid table th{
        display: none!important;
    }
    .flexigrid table td:first-child,
    .flexigrid table th:first-child,
    .flexigrid table td:last-child,
    .flexigrid table th:last-child,
    .flexigrid table td:nth-child(2),
    .flexigrid table th:nth-child(2)
    {
        display: table-cell!important;
    }
    .navbar-fixed-top a > [class^="icon-"],
    .navbar-fixed-top a > [class*=" icon-"] {
      background-image: url("../img/glyphicons-halflings-white.png")!important;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 769px)  and (max-width: 978px) {
    body {
        padding-top: 0px;
    }
    .flexigrid table td,
    .flexigrid table th{
        display: none!important;
    }
    .flexigrid table td:first-child,
    .flexigrid table th:first-child,
    .flexigrid table td:last-child,
    .flexigrid table th:last-child,
    .flexigrid table td:nth-child(2),
    .flexigrid table th:nth-child(2),
    .flexigrid table td:nth-child(3),
    .flexigrid table th:nth-child(3),
    .flexigrid table td:nth-child(4),
    .flexigrid table th:nth-child(4)
    {
        display: table-cell!important;
    }
    .navbar-fixed-top a > [class^="icon-"],
    .navbar-fixed-top a > [class*=" icon-"] {
      background-image: url("../img/glyphicons-halflings-white.png")!important;
    }
}

/* normal desktop */
@media (min-width: 979px) and (max-width: 1199px)  {
    body {
        padding-top: 60px;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    body {
        padding-top: 60px;
    }
}
