body
{
	background-image:url('../images/background_fade2.jpg');
	background-repeat:repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0px;
	padding:0px;
	background-color:#e5e5e5;
}

div
{
	padding:0px;
	margin:0px;
}

a{
	text-decoration:none;
	color:red;
	border:0;
	cursor:hand;
}

img
{
	border:0;
}

li
{
	display:inline;
}

h2{
	border-top:1px solid silver;
	padding-top:20px;
}
#header
{
	height:236px;
}

#topSection
{
	padding-top:50px;
	margin-bottom:30px;
	padding-bottom:30px;
}

#topInfo
{
	font-size:18px;
	color:#333;
	margin:0px 0px 20px 0px;
}

#bottomInfo
{
	font-size:14px;
	color:#663300;
	width:400px;
}

#headerContent
{
	position:absolute;
	margin-left:320px;
	margin-top:36px;
	visibility:hidden;
	z-index:2;
}

#howdy
{
	float:left;
	position:absolute;
	padding-left:230px;
	visibility:hidden;
	width:200px;
	height:94px;	
}

#howdyImg
{
	height:90px;
	width:200px;
}

.codeContainer
{
	float:left;
	margin-right:20px;
	width:31%;
}

#evNetBar
{
	height:26px;
	background-color:#666;
	visibility:collapse;
}

#mainContainer
{
	width:90%;
	margin:0 20px 0 20px;
}

h3
{
	font-size:18px;
}

ul.controls {
    margin: 0;
    padding:0;
}
ul.controls li {
    display:block;
    list-style-type:none;
    margin:0 0 2em;
}
ul.controls li a {
    cursor:default;
}
.bgimage {
    display:block;
    overflow:hidden;
    text-indent:-9999px;
}
a.glimmer.bgimage {
    background:url(../images/glimmer_lockup.png) no-repeat;
    width:280px;
    height:73px;
}