#clouds
{
	background-image:url('../images/all_clouds.png');
	background-repeat:repeat-x;
	width:990px;
	height:177px;
	position:absolute;
	z-index:0;
}

#plane
{
	position:absolute;
	background-image:url('../images/plane.png');
	background-repeat:no-repeat;
	width:176px;
	height:115px;
	margin-top:120px;
	z-index:4;
}

#plane2
{
	position:absolute;
	background-image:url('../images/littlePlane.png');
	background-repeat:no-repeat;
	width:606px;
	height:39px;
	margin-top:120px;
	visibility:hidden;
	z-index:3;
}

#foliage
{
	position:absolute;
	margin-top:190px;
	background-image:url('../images/foliage.png');
	background-repeat:no-repeat;
	width:852px;
	height:70px;
	z-index:3;
}

#bubble
{
	background-image:url('../images/howdy.png');
	background-repeat:no-repeat;
	width:200px;
	height:94px;
	position:absolute;
	margin-top:75px;
	margin-left:690px;
	visibility:hidden;
	z-index:1;
}

#bubble2
{
	background-image:url('../images/youOk.png');
	background-repeat:no-repeat;
	width:200px;
	height:94px;
	position:absolute;
	margin-top:140px;
	margin-left:620px;
	visibility:hidden;
	z-index:1;
}



#frog
{
	background-image:url('../images/frog.png');
	background-repeat:no-repeat;
	width:51px;
	height:40px;
	float:left;
	position:absolute;
	margin-left:774px;
	margin-top:200px;
	z-index:1;
	visibility:hidden;
}
#sky
{
	position:absolute;
	height:260px;
	width:989px;
	background-image:url('../images/grass_big.png');
	background-repeat:no-repeat;
	background-position:0;
	border:1px solid silver;
	z-index:0;
}

#mixLogo
{
	background-image:url('../images/glimmer_lockup.png');
	background-repeat:no-repeat;
	width:300px;
	float:left;
	position:absolute;
	margin-top:20px;
	margin-left:20px;
	padding-top:80px;
	visibility:hidden;
	z-index:6;

}

#download
{
	background-image:url('../images/download_for_free_2.png');
	background-repeat:no-repeat;
	height:97px;
	width:204px;
	visibility:hidden;
	/*float:left;
	 position:absolute; 
	margin-top:94px;
	margin-left:30px;*/
}
.container
{
	position:relative;
	height:262px;
	padding:0;
	width:991px;
	margin:20px 0 0 0;
	overflow:hidden;
}
