*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# installation specific file
assets/caches/*.js
assets/caches/*.css
modules/*/config/module_config_*.php
application/config/*.php
application/config/site-*
/.htaccess
application/logs/log*.php
assets/grocery_crud/texteditor/ckeditor/config.js
assets/kcfinder/config.php
/site.php

# the sql
modules/*/assets/db/backup*.sql

# my private modules
modules/gis
modules/typing_defense
modules/academic
modules/ssc
modules/gis_assignment
modules/library_app
modules/pmb_online
modules/town_project
modules/loanword_searchengine
modules/year_book
modules/stiki_ibk
modules/pendaftaran_wisuda
modules/library_app
modules/shop
modules/pbfrontend
modules/artificial_intelligence/assets/data/1_*
modules/beritaduka
modules/conference
modules/oepet
modules/fakebill
modules/rekam_medik
modules/breast_cancer
