@extends(default-one-column)

@section(layout_body)
       <div class="row-fluid">
            <div id="__section-banner">{{ widget_name:section_banner }}</div>
            <div>
                <div id="__section-left-and-content" class="col-md-9">
                    <div>{{ navigation_path }}</div><hr />
                    <div>
                        <div id="__section-left" class="hidden">
                            {{ widget_name:section_left }}
                        </div>
                        <div id="__section-content" class="col-md-12">
                            {{ layout:body }}
                        </div>
                    </div>
                </div><!--/#layout-content-->
                <div id="__section-right" class="col-md-3">
                    {{ widget_name:section_right }}
                </div><!--/#layout-widget-->
            </div>
        </div><!--/row-->
      <hr>
@end_section

@section(layout_script)
   <script type="text/javascript">
        $(document).ready(function(){
            // if section-left is empty, remove it
            if($.trim($('#__section-left').html()) == ''){
                $('#__section-left').remove();
            }else{
                $('#__section-content').removeClass('col-md-12');
                $('#__section-content').addClass('col-md-9');
                $('#__section-left').removeClass('hidden');
                $('#__section-left').addClass('col-md-3');
            }
            // if section-right is empty, remove it
            if($.trim($('#__section-right').html()) == ''){
                $('#__section-right').remove();
                $('#__section-left-and-content').removeClass('col-md-9');
                $('#__section-left-and-content').addClass('col-md-12');
            }
            // if section-banner is empty, remove it
            if($.trim($('__section-banner').html()) == ''){
                $('__section-banner').remove();
            }
        });
    </script>
@end_section
