<!DOCTYPE html>
<html lang="{{ language:language_alias }}">
    <head>
        <meta charset="utf-8">
        <title>{{ layout:title }}</title>
        {{ layout:metadata }}
        <link rel="icon" href="{{ site_favicon }}">
        <!-- Le styles -->
        {{ layout:css }}
        <style type="text/css">{{ widget_name:section_custom_style }}</style>
        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ site_favicon }}">
    </head>
    <body>
        {{ layout:js }}
        <script type="text/javascript">{{ widget_name:section_custom_script }}</script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="{{ BASE_URL }}assets/no_cms/js/html5.js"></script>
            <script src="{{ BASE_URL }}assets/no_cms/js/respond.min.js"></script>
        <![endif]-->

        {{ widget_name:section_top_fix }}
        <div class="container">{{ layout:body }}</div>
    </body>
</html>
