textarea, .chzn-drop{
    color:black;
}
.not_shown{
    display: none;
}

.clear{
    clear: both;
}

.layout_widget_container input, .layout_widget_container textarea {
    max-width: 100%;
}

footer{
    padding: 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555 !important;
    cursor: default;
    background-color: #EEEEEE !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #DDD #DDD transparent !important;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none !important;
}

.navbar.navbar .dropdown-menu li > a, .navbar-default.navbar .dropdown-menu li > a {
    padding: 8px 16px!important;
}

#__section-content{
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
}