.input-xlarge{
	height: 28px!important;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

p.footer{
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container{
    margin: 10px;
    padding: 20px;
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
}

#ajax_result{
	top: 60px;
	right: 0px;
	display: block;
	left : 600px;
    width : 400px;
    z-index:100;
}

form{
    width : 500px;
}
#infoMessage{
	position:fixed!important;
}
.fix{
	position:fixed!important;
}
.absolute{
    position: absolute!important;
}
.button_install{
    display:none;
}
#preference, #admin, #authentication{
    display:none;
}
