textarea, .chzn-drop{
    color:black!important;
}
.flexigrid *,
.flexigrid *:before,
.flexigrid *:after,
#colorbox,
#colorbox:before,
#colorbox:after {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
}
.breadcrumb{
    background-color:inherit!important;
}
.not_shown{
	display: none;
}

.clear{
	clear: both;
}

.layout_widget_container input, .layout_widget_container textarea {
    max-width: 100%;
}

footer{
	padding: 10px;
}

#__section-content{
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
}



/* normal desktop */
@media (min-width: 979px) and (max-width: 1199px)  {
    body {
        padding-top: 50px;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    body {
        padding-top: 50px;
    }
}
